@import 'tailwindcss';
@import './custom.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@tailwind utilities;

.heading-1 {
  @apply font-['Fredoka'] font-semibold text-purple-950;
  -webkit-text-stroke: 1px #3c0366;
}

.body-text {
  @apply font-['Poppins'] text-base text-gray-700;
}

.orange-gradient {
    background: var(--gradiasi, linear-gradient(270deg, #FF984E 0%, #FFD557 100%)); 
}

.orange-border {
    border-radius: 6.875rem;
    border: 1px solid var(--ung, #FF984E);
    background: var(--ungu, #6e11b0);
}

.text--login {
    background: var(--gradiasi, linear-gradient(270deg, #FF984E 0%, #FFD557 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


